# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
venv/
ENV/
env.bak/
venv.bak/

.ipynb_checkpoints/

data/*.csv
data/*.csv.gz
data/*.db

.env

.vscode/

.idea/

*.iml
*.iws
*.ipr
.idea/

*.log
*.sqlite3

*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
pip-wheel-metadata
share/python-wheels

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

*.mo
*.pot

*.log
local_settings.py
db.sqlite3

instance/
.webassets-cache

.scrapy

docs/_build/

target/

cython_debug/

.pyre/
